<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-ng2-grafica [grafica]="graficos['grafico1']">
                </app-ng2-grafica>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-ng2-grafica [grafica]="graficos['grafico2']">
                </app-ng2-grafica>


            </div>
        </div>
    </div>

</div>
<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-ng2-grafica [grafica]="graficos['grafico3']">
                </app-ng2-grafica>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <app-ng2-grafica [grafica]="graficos['grafico4']">
                </app-ng2-grafica>


            </div>
        </div>
    </div>

</div>